{% extends 'layout/base.html' %}
{% block stylesheet %}

{% endblock %}

{% block title %}
Shop
{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="row">
    {% for library in libraries %}
        {% include 'include/card.html' %}
    {% endfor %}
</div>
</div>
<script src="https://checkout.flutterwave.com/v3.js"></script>
<script>
    function makePayment() {
        FlutterwaveCheckout({
          public_key: "{{public_key}}",
          tx_ref: "titanic-48981487343MDI0NzMx",
          amount: 54600,
          currency: "ZMW",
          payment_options: "card, banktransfer, mobilemoneyzambia",
          meta: {
            consumer_id: 23,
            consumer_mac: "92a3-912ba-1192a",
          },
          customer: {
            email: "{{customer.email}}",
            phone_number: "{{customer.phone}}",
            name: "{{customer.name}}",
          },
          customizations: {
            title: "The Titanic Store",
            description: "Payment for an awesome cruise",
            logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
          },
        });
      }
</script>
{% endblock %}