{% extends 'layout/base.html' %}
{% block title %}
    Payment - successfull
{% endblock %}
{% block body %}
<div style="background: rgba(65, 229, 65, 0.902);" class="py-1"></div>
    <div style="border-radius: 10px;" class="container my-4 py-1 ">
        <div class="">
        <div class="d-flex justify-content-center align-items-center mt-5 pt-5 pb-4">
            <div>
                <p class="h1 text-center">Payment done successfully</p>
                <p>
                    we are not responsible for anything that happens after a payment is cancelled 
                </p>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="#" class=" text-decoration-none">open receipt</a>
    </div>
    <div class=" mt-5 text-center pb-2">
        <a href="/" class="btn btn-secondary pb-3 h3"> <span class="h2">&leftarrow;</span> Goto library page</a>
    </div>
</div>
{% endblock %}
